:root {
    --accent-color: #FF69B4; /* Pink accent color */
    --background-color: #333333; /* Dark grey background color */
    --text-color: #FFFFFF; /* White text color */
  }

  main {
    padding: 15vh 5vw 0 5vw;
  }

  header {
    width: 100%;
    position: fixed;
    /* background-image: url("../image/waterfall.jpg"); */
    background-size: cover; 
  }

  body {
    max-width: 100%;
    height: 100vh; 
    background-color: var(--background-color);
    background-image: url("../image/cat.jpg");
    background-size: contain; 
    background-position: top center;
    background-repeat: no-repeat;
    color: var(--accent-color);
    
  }

  .btn {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--background-color);
    margin: 2vh;
  }

  .btn:hover {
    color: var(--text-color);
  }

  .navbar-brand {
    color: var(--accent-color);
  }

  .navbar-brand:hover {
    color: var(--text-color);
  }

  .offcanvas {
    background-color: var(--background-color);
  }

  .offcanvas-menu-items {
    display: flex;
    flex-direction: column;
  }

  footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    border: none;
  }

