/* Elements */

select {
    background-color: var(--background-color);
    border: 1vw solid var(--background-color);
    border-radius: 10px;
    color: var(--accent-color);
}

select:hover {
    color: var(--text-color);
}

/* Classes */

.carousel-button {
    align-self: center;
    background-color: var(--accent-color);
    width: 10vw;
    color: var(--text-color);
    margin: 2vw;
    box-shadow: none;
    border: 1vw solid var(--background-color);
}

.carousel-slide {
    z-index: -1;
}

.form-switch {
    color: var(--accent-color);
}

.custom-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 50%;
    border-radius: 10px;
    color: var(--accent-color);
}

.form-labels {
    display: flex;
    flex-direction: column;
    align-items: left;
    color: var(--accent-color);
}

.form-values {
    display: flex;
    flex-direction: column;
    align-items: left;
    color: var(--text-color);
}

/* Id */

#reps, #sets, #rest, #name, #weight {
    display: none;
}

#carousel-item {
    height: 100vh;
    width: 100%;
    text-align: center;
}

#index {}

#slogan {
    font: roboto;
    font-size: 5vw;
    color: var(--accent-color);
    position: relative;
    justify-content: center;
    z-index: -1;
    text-align: center;
}

#workout-carousel {
    position: relative;
    text-align: center;
}

/* Builders */
#exercise-builder {
    display: none;
}

#strength-builder {
    display: none;
}

#conditioning-builder {
    display: none;
}