

/* Elements */

select {
    background-color: var(--background-color);
    border: 1vw solid var(--background-color);
    border-radius: 10px;
    color: var(--accent-color);
}

select:hover {
    color: var(--text-color);
}

/* Classes */

.carousel-button {
    align-self: center;
    background: none;
    width: 10vw;
    color: var(--accent-color);
    margin: 2vw;
    box-shadow: none;
}

.carousel-slide {
    z-index: -1;
}

.form-switch{
    color: var(--accent-color);
}

.main-container {
    
}

/* Id */

#carousel-item {
    height: 100vh;
    width: 100%;
    text-align: center;
}

#index {
    
}

#slogan {
    font: roboto;
    font-size: 5vw;
    color: var(--accent-color);
    position: relative;
    justify-content: center;
    z-index: -1;
    text-align: center;
}

#workout-carousel {
    position: relative;
    text-align: center;    
}

/* Builders */
#exercise-builder {
    display: none;
}

#strength-builder {
    display: none;
}

#conditioning-builder {
    display: none;
}

/* Buttons */
#conditioning-button {

}

#strength-button {

}

#intervals-button {

}








