name: Run Azure Login with OIDC

env:
  REGISTRY_NAME: "properwhaleacr"
  REGISTRY_URL: "properwhaleacr.azurecr.io"
  RESOURCE_GROUP: "properwhale-rg"
  CLUSTER_NAME: "properwhale-aks"
  PROJECT_NAME: "fitnessapp"
  TAG: "latest"

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install Azure CLI
      run: |
        sudo apt-get update
        sudo apt-get install -y azure-cli

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Check Azure Login Status
      run: |
        az account show
    - name: Gets K8s context
      uses: azure/aks-set-context@v1
      with:
        resource-group: ${{ env.RESOURCE_GROUP }}
        cluster-name: ${{ env.CLUSTER_NAME }}

