name: Run Azure Login with OIDC

env:
  REGISTRY_NAME: "properwhaleacr"
  REGISTRY_URL: "properwhaleacr.azurecr.io"
  RESOURCE_GROUP: "properwhale-rg"
  TAG: "latest"
  IMAGE_NAME: "fitnessapp"

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install Azure CLI
      run: |
        sudo apt-get update
        sudo apt-get install -y azure-cli

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Check Azure Login Status
      run: |
        az account show
